# ────────────────────────────────────────────────────────────────────
# FICHIER .env.example, remplacer les valeurs par des vraies dans le .env
# NE JAMAIS COMMITTER le fichier .env dans Git !
# ────────────────────────────────────────────────────────────────────

# PostgreSQL
DB_USER=postgres
DB_PASSWORD=CHANGE_ME_STRONG_PASSWORD
DB_NAME=tododb

# JWT
JWT_SECRET=CHANGE_ME_VERY_LONG_AND_RANDOM_SECRET

# URL du frontend (CORS)
FRONTEND_URL=http://localhost:3000

# URL de l'API
# En dev, le proxy Vite/nginx s'en charge
VITE_API_URL=
