# Secrets — JAMAIS dans git
.env
.env.local
.env.*.local
vm-todoapp_key.pem

# Node
node_modules/
*/node_modules/
npm-debug.log*

# Build
dist/
build/
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docker
.dockerignore

# Logs
logs/
*.log
